@model KeyValuePair<Guid, string>
@{
    ViewData["Title"] = SharedLocalizer["Giveaway"];
    ViewData["Description"] = "tralala";
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("terms", "giveaway", new { area = "tools", id = Model.Key });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/oggiveaway.png";

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    Layout = "_LayoutNoNavigation";
}

@section ComponentStyles {
    <link rel="stylesheet" href="~/css/switch.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/giveaway.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/giveaway.min.css" asp-append-version="true">
    </environment>
}

<section class="container-fluid position-relative">
    <div id="featurecontainer" class="row justify-content-center">
        <div class="col-md-12 col-lg-10 px-0 px-md-1">
            <div class="giveaway-container animate1 p-5 mb-2">
                @Html.Raw(Model.Value)
            </div>
        </div>
    </div>
</section>