@{
    ViewData["Title"] = "Who we are";
    ViewData["Description"] = SharedLocalizer["LuduStack is social network dedicated to independend game developers, visual artists, sound artists and other professionals from the game industry."];

    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<div class="abouttext">
    <p>
        LuduStack is "one place stop" dedicated to game developers, visual artists, sound artists and other professionals of the game industry.
        The goal is to keep a safe, free, full of resources and features, community managed place to help freshers and experient game developers to achieve their goals and deliver great games to the world.
        We offer a centralized place for game industry people, where users can aggregate other gamedev communities and social networks while offering a set of tools and features that can add some value to the game development process.
    </p>

    <h2>But there are already other communities</h2>

    <p>
        Yes, there is already great communities like <a href="https://gamejolt.com" target="_blank" rel="noopener noreferrer">GameJolt</a>, <a href="https://itch.io" target="_blank" rel="noopener noreferrer">Itch.io</a> and <a href="https://www.gamedev.net" target="_blank" rel="noopener noreferrer">Gamedev.net</a>, to name just a few. They are great and the intent of this project is not to replace them.
    </p>

    <p>
        While these other communities are great for games, they are "not so great" for the developers themselves. Of course, they have very useful set of features like jam management, game sales,
        managing versions and devlogs, but they lack more tools to improve the game creation process itself.
    </p>

    <p>
        The purpose of this community is to improve the collaboration between independent game developers while providing links to other communities, centralizing them in a single place,
        offering innovative tools like gamedev-oriented project management system and consolidating already consagrated tools like app icon generator and social sharing.
    </p>

    <p>
        One of our strenghts is the <a asp-area="" asp-controller="brainstorm" asp-action="index"><span class="font-weight-bold">Think</span></a> feature. A brainstorm management system where the community members are able to vote on the next feature to be implemented, discuss it and suggest improvements.
        The brainstorm system is present for user-generated content as well. Users can also post polls and have other users voting on their own questions like "Which menu is better?"
        or "Should I hire a PR?", the users decide what they want to ask to the community. This is a common interaction on social networks and we will bring it here and improve it.
    </p>

    <p>
        The <a asp-area="" asp-controller="team" asp-action="index"><span class="font-weight-bold">Team Up!</span></a> feature is a great way to recruit members for your project and show to the community who worked on each game or game jam.
    </p>

    <p>
        Another innovation of this project is to give more voice to visual artists and music/sound creators. Everyone will have their place here.
    </p>

    <h2> The Name</h2>

    <p>
        The name <span class="font-weight-bold">ludustack</span> is made from two words:
        <ul>
            <li>LUDUS in latin means game</li>
            <li>STACK in english is "a set of tools to achieve a goal (usually software)"</li>
        </ul>
    </p>

    <p>
        So, the LUDUSTACK is a place where you can organize your stack to make a game while interacting with other fellow devs.
    </p>
</div>