@model IEnumerable<ForumPostViewModel>

@{
    Layout = null;

    var paginationModel = (PaginationVo)ViewData["Pagination"];

    paginationModel.PaginationMessage = "{0} replies";

    var hasItems = Model.Any();
}

<div class="px-2 pt-2 bg-light@(hasItems ? " rounded-0" : " square-top")">
    <partial name="_Pagination" model="paginationModel" />
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    var item = Model.ElementAt(i);

    <div class="col-12 separator">
        <hr />
    </div>

    <partial name="_ForumPostViewEdit" model="item" />
}

@if (hasItems)
{
    paginationModel.PaginationMessage = string.Empty;
    paginationModel.Bottom = true;

    <div class="px-2 pt-2 bg-light square-top">
        <partial name="_Pagination" model="paginationModel" />
    </div>
}