@model LocalizationViewModel
@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
        <link rel="stylesheet" href="~/css/localization.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.css"
              asp-fallback-href="~/lib/dropzone/min/dropzone.min.css"
              asp-fallback-test-class="dropzone"
              asp-fallback-test-property="box-sizing"
              asp-fallback-test-value="border-box"
              integrity="sha512-bbUR1MeyQAnEuvdmss7V2LclMzO+R9BzRntEE57WIKInFVQjvX7l7QZSxjNDt8bg41Ww05oHSh0ycKFijqD7dA=="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/localization.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment include="Development">
        <script src="~/lib/dropzone/dropzone.js"></script>
        <script src="~/js/common-edit.js"></script>
        <script src="~/js/localization/localizationedit.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
                asp-fallback-src="~/lib/dropzone/min/dropzone.min.js"
                asp-fallback-test="window.Dropzone"
                integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg=="
                crossorigin="anonymous"></script>
        <script src="~/js/localization/localizationedit.min.js" asp-append-version="true"></script>
    </environment>
}

<input type="hidden" id="urls" value="urls"
       data-url-terms="@Url.Action("getterms", "localization", new { area = "tools" })"
       data-url-terms-save="@Url.Action("saveterms", "localization", new { area = "tools" })" />

<section class="content container">
    <div id="featurecontainer" class="pb-3">
        <partial name="_CreateEdit" model="Model" />
    </div>
</section>