#featurecontainer {
    padding-bottom: 200px;
}

    #featurecontainer .btn {
        font-size: 15px;
    }

#featuresidebar .feature-box {
    border: 1px solid gray;
    min-height: 50px;
    background-color: white;
    padding: 5px;
}

    #featuresidebar .feature-box ul {
        padding: 0;
        list-style: none;
    }

.noitems .noitems-icon {
    transform: rotate(-20deg);
    color: lightgray;
}

    .noitems .noitems-icon.norotate {
        transform: rotate(0);
    }

.feature-item {
    padding: 10px;
    min-height: 140px;
}

    .feature-item.list-item {
        border: 1px solid gray;
    }

    .feature-item .feature-details, .feature-item .author-details {
        width: 100%;
        display: inline-block;
    }

    .feature-item .feature-details {
        min-height: 110px;
    }