/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v11-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'), url('../fonts/poppins-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v11-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v11-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'), url('../fonts/poppins-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v11-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
    font-weight: 400;
    font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

h5 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}

h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}