@{
    Layout = null;
}

<div class="box bg-white m-0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-ha-23+3d-16+4f"
         data-ad-client="ca-pub-0948503857706076"
         data-ad-slot="2939430783"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>