@model HomeSquareViewModel

@{
    var url = Url.Action(Model.Action, Model.Controller, Model.RouteParameters);
}

<a href="@url">
    <div class="info-box @(string.IsNullOrWhiteSpace(Model.ColorClass) ? "bg-purple" : Model.ColorClass)">
        <span class="info-box-icon"><i class="@Model.Icon" aria-hidden="true"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@SharedLocalizer[Model.Text]</span>
        </div>
    </div>
</a>