@{
    Layout = null;
}

<div class="col-12">
    <div class="text-center" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["This QR Code leads to this page. Tell people to scan it with their phones."]">
        <canvas class="qrCode"></canvas>
    </div>
</div>