@{
    Layout = null;


    var genreHtml = string.Format("<span class=\"game-idea-element game-idea-genre\">A video game</span>");
    var actionHtml = string.Format("<span class=\"game-idea-element game-idea-action\">perform actions on</span>");
    var thingHtml = string.Format("<span class=\"game-idea-element game-idea-things\">things</span>");
    var goalHtml = string.Format("<span class=\"game-idea-element game-idea-goals\">to achieve goals</span>");
}

<link href='https://fonts.googleapis.com/css?family=Chelsea Market:700,400' rel='stylesheet' type='text/css'>

<div class="p-1 bg-white gameidea gradient hover">
    <a href="#" id="btnGenerateGameIdea">
        <div class="col-12 p-0 title">
            <span>@SharedLocalizer["Random Game Idea"]</span>
        </div>
        @Html.Raw(SharedLocalizer["<span class=\"text-capitalize\">{0}</span> game where you {1} {2} {3}.", genreHtml, actionHtml, thingHtml, goalHtml])
    </a>
</div>