@{
    Layout = null;
}

<link href='https://fonts.googleapis.com/css?family=Chelsea Market:700,400' rel='stylesheet' type='text/css'>

<environment include="Development">
    <link rel="stylesheet" href="~/css/gameidea.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/gameidea.min.css" asp-append-version="true" />
</environment>

<div class="p-1 bg-white gameidea hover">
    <a href="#" id="btnGenerateGameIdea">
        <div class="col-12 p-0 title">
            <span>@SharedLocalizer["Random Game Idea"]</span>
        </div>
        <span class="game-idea-element game-idea-genre">A video game</span>
        where you
        <span class="game-idea-element game-idea-action">perform actions on</span>
        <span class="game-idea-element game-idea-things">things</span>
        <span class="game-idea-element game-idea-goals">to achieve goals</span>.
    </a>
</div>