@model IEnumerable<TeamViewModel>
@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-users", "What? We have no Teams here! Hurry up, create one!");
}

@if (!Model.Any())
{
    <h3 class="sr-only">@SharedLocalizer["No teams to show"]</h3>
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    @foreach (var team in Model)
    {
        <div class="box  bg-white">
            <partial name="_TeamListItem" model="team" />
        </div>
    }
}