@model GameJamViewModel
@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    ViewData["Title"] = SharedLocalizer["{0} Game Jam", (Model.Id == Guid.Empty ? SharedLocalizer["new"].Value : SharedLocalizer["edit"].Value).FirstCharToUpper()];
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/css/switch.css">
        <link rel="stylesheet" href="~/lib/cropperjs/cropper.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.css">
        <link rel="stylesheet" href="~/css/gamejam.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/css/switch.css">
        <link rel="stylesheet" href="~/lib/cropperjs/cropper.min.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/css/gamejam.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment include="Development">
        <script src="~/lib/moment/moment-with-locales.js"></script>
        <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.js"></script>
        <script src="~/thirdparty/ckeditor5-build-classic/build/ckeditor.js"></script>
        <script src="~/lib/cropperjs/cropper.js"></script>
        <script src="~/lib/select2/js/select2.full.js"></script>
        <script src="~/js/shared/imagemanipulation.js"></script>
        <script src="~/js/shared/wysiwygeditor.js"></script>
        <script src="~/js/common-edit.js"></script>
        <script src="~/js/gamejam/gamejamcommon.js"></script>
        <script src="~/js/gamejam/gamejamedit.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/moment/moment-with-locales.min.js"></script>
        <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="~/thirdparty/ckeditor5-build-classic/build/ckeditor.js"></script>
        <script src="~/lib/cropperjs/cropper.min.js"></script>
        <script src="~/lib/select2/js/select2.full.min.js"></script>
        <script src="~/js/shared/imagemanipulation.js"></script>
        <script src="~/js/gamejam/gamejamedit.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content container">
    <div id="featurecontainer" class="pb-3">
        <partial name="_CreateEdit" model="Model" />
    </div>
</section>